<!DOCTYPE html>
<html>
<%- include partial/header %>
<body>
  <%-include partial/menu%>
  <div class="container">
      <h2>Items Data</h2>
      <h3><a href='/items/add'>Add Item</a><h3>
      <table class="table" cellpading="0" cellspacing="0">
        <tr>

          <th>ID</th>
          <th>NAME</th>
          <th>BRAND</th>
          <th>CODE ITEM</th>
          <th>Option</th>
        </tr>

        <% items.forEach (data =>{%>
          <tr>
            <td>&nbsp<%=data.id %></td>
            <td>&nbsp<%=data.name%></td>
            <td>&nbsp<%=data.brand%></td>
            <td>&nbsp<%=data.codeitem%></td>
            <td><a href="/items/edit/<%= data.id %>">Edit</a>|<a href="/items/delete/<%= data.id %>">Delete</a></td>
          </tr>
          <% }) %>
      </table>
    </div>
</body>
</html>
